body {
  margin: 0;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #8fc58e;
  background-repeat: no-repeat;
  background-position: top center;
}

.oval {
display: block;
    margin-left: auto;
    margin-right: auto
}

.row {
  text-align: justify;
  align-items: center;
}

.bio {
  text-align: justify;
  border-color: #ffffff;
  border-style: dashed;
  margin-top: 2%;
  margin-bottom: 2%;
}
  
.prew {
  text-align: center;
}


.head {
  color: #ffffff;
  height: 45px;
  background: radial-gradient(circle farthest-corner at 100px 50px,  #0a1409, #0e2e0a);
  text-align: center;
  }

.powwered {
  text-align: right;
  padding-right: 2%;
}

.feedback {
text-align: left;
padding-left: 2%;
}


.bot {
  color: #ffffff;
  height: 50px;
  background: radial-gradient(circle farthest-corner at 100px 50px, #0a1409, #0e2e0a);
  text-align: center;
  }
