body {
  margin: 0;
  min-width: 960px;
  
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #9ccbfa;
  background-repeat: no-repeat;
  background-position: top center;
}

.oval {
border-radius: 90px;
text-align: center;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

nav {
float: left;
width: 200px;
height: 600px;
margin-left: 2%;

}

.page {
    float: center;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;

   }


.disabled {
  pointer-events: none; 
  color: #000000; 

}

.custom-footer {
padding-top: 25px;
height: 50px;
outline: 3px solid #000000;
background-color: rgb(43, 71, 87);
color: rgb(255, 255, 255);

}

.feedback {
float: left;
padding-left: 25px;
text-align: left;

}

.gif {

float: center;
text-align: center;


}

.contact {
  float: right;
  padding-right: 25px;
  text-align: right;

}

.border {
border: 3px solid #000000;

}